.button_container {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease-in-out;
  
    &:hover {
      opacity: 0.7;
    }
  
  }
  #toggleBtn span {
      background-color: #0a1031;
      width: 2rem;
      height: 0.2rem;
      margin: 0.26rem 0;
      border-radius: 0.5rem;
      display: block;
      transition: all 0.4s ease;
      transform-origin: 0 0;
  }
  .active span:nth-child(1) {
      transform: rotate(45deg) translateY(-8px);
    }
    
  .active span:nth-child(2) {
      transform: scaleX(0);
    }
    
  .active span:nth-child(3) {
      transform: rotate(-45deg) translateX(-2px) translateY(4px);
    }